body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.navbar {
  background: #2563eb;
  color: white;
  padding: 15px;
  text-align: center;
}

.container {
  width: 80%;
  margin: 20px auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

.card {
  background: white;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.list {
  margin-top: 20px;
}
.password-list {
  margin-top: 30px;
}

.card {
  background: white;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
  color: #2563eb;
  margin-bottom: 10px;
}
